<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul id="list" class="nav navbar-nav" ng-controller="NavCtrl">
        <!-- <li class="active"><a ng-href="#/">Home</a></li> -->
        <li ng-class="{active: isActive('/')}"><a ng-href="#/">Home</a></li>
        <li ng-class="{active: isActive('/Directive')}"><a ng-href="#/Directive">Directive</a></li>
        <li ng-class="{active: isActive('/Services')}"><a ng-href="#/Services">Services</a></li>
        <li ng-class="{active: isActive('/Filters')}"><a ng-href="#/Filters">Filter</a></li>
        <li ng-class="{active: isActive('/Form')}"><a ng-href="#/Form">Form</a></li>
      </ul>
    </div>
  </div>
</nav>
